<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>


  <body oncontextmenu="return false">
    <div id="map"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script>
      var markers = [];
      var uniqueId = 1;
      var map;
      var currWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 9.984735, lng: 76.277180},
          zoom: 14
        });

        //Attach click event handler to the map.
        google.maps.event.addListener(map, 'click', function (e) {
        //Determine the location where the user has clicked.
        var location = e.latLng;
        DeleteAllMarkers();
        //Create a marker and placed it on the map.
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
 
        //Set unique id
        marker.id = uniqueId;
        uniqueId++;
 
        //Attach click event handler to the marker.
        google.maps.event.addListener(marker, "click", function (e) {
            var content = 'Latitude: ' + location.lat() + '<br />Longitude: ' + location.lng();
	    content += "<br /> Name : <input type='text' name='fname' />";
            content += "<br /><input type = 'button' value = 'SignUp' onclick = 'SignUp (" + marker.id +',document.getElementsByName("fname")[0].value);\x27 />';
            var infoWindow = new google.maps.InfoWindow({
               content: content
            });
	    currWindow=infoWindow;	
            infoWindow.open(map, marker);
        });
 
        //Add marker to the array.  
        markers.push(marker);
      });
    };


    function SignUp(id, fname) {
	var lat, lon;
        for (var i = 0; i < markers.length; i++) {
            if (markers[i].id == id) {                 
                lat = markers[i].getPosition().lat();
		lon = markers[i].getPosition().lng();
 		}
        }
        
	var a={"name":fname, "lon":lon, "lat": lat};

	$.ajax({
	    type: 'POST',
	    url: '/signuphandler',
	    data: JSON.stringify (a),
	    success: function(data) { 
		alert('you are succesfully signedup with ' + JSON.stringify(data)); 
		currWindow.close();
	    },
	    contentType: "application/json",
	    dataType: 'json'
	});

      };


    function DeleteAllMarkers() {
        //Find and remove the marker from the Array
        for (var i = 0; i < markers.length; i++) {
                //Remove the marker from Map                  
                markers[i].setMap(null);
 
                //Remove the marker from array.
                markers.splice(i, 1);
                return;
        }
      };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq_NfdZscVJ8ZPtanPN0LOzJhlNDw6xkg&callback=initMap"
    async defer></script>
  </body>
</html><!DOCTYPE html>
